<html>
<head>
<title>Springlab - YTv App</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'ytv/style.css' %}" />
<script type="text/javascript" language="javascript" src="{% static 'ytv/javascript/jquery.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'ytv/javascript/custom.js' %}"></script>
</head>
<body>

<h1>Springlab - YTv</h1>

<ul id="messages">
    {% if messages %}
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    {% endif %}
</ul>

<div id="header">
<div id="form_div">
<form id="post_form" action="{% url 'ytv:index' %}" method="post">
    {% csrf_token %}
    <label for="yturl">YouTube url:</label>
    <input type="text" name="yturl" id="yturl" value="" />
    <input type="submit" value="Post" />
</form>
</div>
<div id="wait">Please wait...</div>
</div>

<ul id="video_list">
{% if video_list %}
{% for video in video_list %}
    {% include "ytv/posted.html" with video=video %}
{% endfor %}
{% else %}
<p id="holder">No videos, yet. Start posting!</p>
{% endif %}
</ul>

<div class="pagination">
    <span id="step-links">
        {% include 'ytv/paginate.html' with video_list=video_list %}
    </span>
</div>

</body>
</html>
