<html>
<head>
<title>Springlab - YTv App</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'ytv/style.css' %}" />
</head>
<body>

<h1>Springlab - YTv</h1>

{% if messages %}
<ul class-"messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="{% url 'ytv:index' %}" method="post">
    {% csrf_token %}
    <label for="yturl">YouTube url:</label>
    <input type="text" name="yturl" id="yturl" value="" />
    <input type="submit" value="Post" />
</form>

{% if video_list %}
<ul>
{% for video in video_list %}
    <li>{{ video.title }}</li>
{% endfor %}
</ul>
{% else %}
<p>No videos, yet. Start posting!</p>
{% endif %}

<div class="pagination">
    <span class="step-links">
        {% if video_list.has_previous %}
            <a href="?page={{ video_list.previous_page_number }}">previous</a>
        {% endif %}
        
        {% if video_list %}
        <span class="current">
            Page {{ video_list.number }} of {{ video_list.paginator.num_pages }}
        </span>
        {% endif %}

        {% if video_list.has_next %}
            <a href="?page={{ video_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

</body>
</html>
